html {
    --color: #7B75BA;
}

html, body, .div1{
    height:100%
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
    background: inherit;
    margin: inherit;
}

header{
    padding: 75px 0;
}

.div1{
    background-color: var(--color);
    margin: 0 2.5vw
}

div#projects{
    padding: 2.5vw 0;
}

footer a {
    text-align: center;
    display: block;
}

a, a > *{
    background:white;
    margin: 1em;
    border-radius: 1em;
}